{% extends 'DrinkBundle::layout.html.twig' %}

{#% block body %#}
{% block page_title %}
    Productos
{% endblock %}
    {% block page_content %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idcategoria</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripcion</th>
                <th>Stock</th>
                <th>Urlimagen</th>
                <th>Fechaupdate</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td><a href="{{ path('producto_show', { 'id': producto.id }) }}">{{ producto.id }}</a></td>
                <td>{{ producto.idCategoria }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.urlImagen }}</td>
                <td>{% if producto.fechaUpdate %}{{ producto.fechaUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if producto.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('producto_show', { 'id': producto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('producto_edit', { 'id': producto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('producto_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
