{% extends 'DrinkBundle::layout.html.twig' %}


{% block page_title %}
    Productos
{% endblock %}
{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Productos</a></li>
    </ol>
{% endblock %}



{% block page_content %}
    <div class="col-xs-8">
        <br>
    </div>
<div class="row" >
    <div class="col-xs-10">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Listado de pedidos </h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-striped">
                    <thead>
            <tr>
                <th>Id</th>
                <th>Categoria</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Fecha actualizado</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td><a href="{{ path('producto_show', { 'id': producto.id }) }}">{{ producto.id }}</a></td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>{% if producto.fechaUpdate %}{{ producto.fechaUpdate|date('d-m-Y') }}{% endif %}</td>
                <td>{% if producto.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('producto_show', { 'id': producto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('producto_edit', { 'id': producto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
                </table>
            </div>
        </div>
        <div class="paginacion">
            {{ knp_pagination_render(productos) }}
        </div>
    </div>
</div>

    <ul>
        <li>
            <a href="{{ path('pedido_new') }}">Crear nuevo producto</a>
        </li>
    </ul>
{% endblock %}
