{% extends 'DrinkBundle::layout.html.twig' %}


{% block page_title %}
    Pedidos
{% endblock %}
{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Pedidos</a></li>
    </ol>
{% endblock %}



{% block page_content %}
    <div class="col-xs-8">
        <br>
    </div>

    <div class="row" >
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado de pedidos </h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nro.</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Calle</th>
                            <th>Nro</th>
                            <th>Actualizado</th>
                            <th>Estado</th>
                            <th>Ver</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pedido in pedidos %}
                            <tr>
                                <td><a href="{{ path('pedido_show', { 'id': pedido.id }) }}">{{ pedido.id }}</a></td>
                                <td>{% if pedido.fecha %}{{ pedido.fecha|date('d-m H:i') }}{% endif %}</td>
                                <td>$ {{ pedido.total }}</td>
                                <td>{{ pedido.calle }}</td>
                                <td>{{ pedido.nro }}</td>
                                <td>{% if pedido.fechaUpdate %}{{ pedido.fechaUpdate|date('d-m H:i') }}{% endif %}</td>
                                <td>{% if pedido.estado == "Cerrado" %}
                                        <label class="label label-primary">
                                            {{ pedido.estado }}
                                        </label>
                                    {% endif %}
                                    {% if pedido.estado == "Nuevo" %}
                                    <label class="label label-success">
                                        {{ pedido.estado }}
                                    </label>
                                    {% endif %}
                                    {% if pedido.estado == "Cancelado" %}
                                    <label class="label label-danger">
                                        {{ pedido.estado }}
                                    </label>
                                    {% endif %}
                                    {% if pedido.estado == "En Camino" %}
                                    <label class="label label-warning">
                                        {{ pedido.estado }}
                                    </label>
                                    {% endif %}
                                </td>
                                <td align="">
                                    <a href="{{ path('pedido_show', { 'id': pedido.id }) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="paginacion">
                {{ knp_pagination_render(pedidos) }}
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('pedido_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
