{% extends 'DrinkBundle::layout.html.twig' %}

{% block page_title %}
    Detalle de pedido
{% endblock %}
{% block avanzu_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a  href="{{ path('pedido_index') }}">Pedidos</a></li>
        <li><a href="#">Detalle de pedido</a></li>
    </ol>
{% endblock %}

{% block page_content %}
<br>
<section ng-controller="pedidoController" ng-cloak="">
<div class="row" ng-init="setearEstadoActual('{{ pedido.estado }}')">
    <div class="col-md-4">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i> Info. del pedido</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>Número</th>
                        <td>{{ pedido.id }}</td>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <td>{% if pedido.fecha %}{{ pedido.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Subtotal</th>
                        <td>$ {{ pedido.subTotal }}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>$ {{ pedido.total }}</td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td>
                            <label ng-show="estadoActual=='Cerrado'" class="label label-primary">
                                {% verbatim %}
                                    {{ estadoActual }}
                                {% endverbatim %}
                            </label>
                            <label ng-show="estadoActual=='Nuevo'" class="label label-success">
                                {% verbatim %}
                                    {{ estadoActual }}
                                {% endverbatim %}
                            </label>
                            <label ng-show="estadoActual=='En Camino'" class="label label-warning">
                                {% verbatim %}
                                    {{ estadoActual }}
                                {% endverbatim %}
                            </label>
                            <label ng-show="estadoActual=='Cancelado'" class="label label-danger">
                                {% verbatim %}
                                    {{ estadoActual }}
                                {% endverbatim %}
                            </label>
                            <a href="" data-toggle="modal" data-target=".modal-cambiar-estado">&nbsp;&nbsp;Cambiar estado</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>

    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-list-ul"></i> Detalle</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cant.</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detalle in detallesPedido %}
                        <tr>
                            <td>{{ detalle.producto}}</td>
                            <td align="center">{{ detalle.cantidad}}</td>
                            <td>$ {{ detalle.subtotal}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>


    <div class="col-md-4">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-map-marker"></i> Datos de Ubicación</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>Calle</th>
                        <td>{{ pedido.calle }}</td>
                    </tr>
                    <tr>
                        <th>Nro</th>
                        <td>{{ pedido.nro }}</td>
                    </tr>
                    <tr>
                        <th>Latitud</th>
                        <td>{{ pedido.latitud }}</td>
                    </tr>
                    <tr>
                        <th>Longitud</th>
                        <td>{{ pedido.longitud }}</td>
                    </tr>
                    <tr>
                        <th>Teléfono</th>
                        <td>{{ pedido.telefono }}</td>
                    </tr>
                    <tr>
                        <th>Referencia</th>
                        <td>{{ pedido.dirReferencia }}</td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

    <!-- modal cambiar de estado -->
<div class="modal fade modal-cambiar-estado">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Cambiar de estado</h4>
            </div>
            <div class="modal-body">
                <div class="callout callout-info">
                    <p>Recuerde que al cambiar el estado a <b>Cancelado</b> o <b>Cerrado</b> no podrá volver atrás </p>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input  ng-model="estado" ng-value="1" type="radio" name="optionsRadios" id="optionsRadios1"
                                   ng-disabled="estadoActual==3 || estadoActual==4"
                                    ng-checked="estadoActual == 'Nuevo'">
                            <p class="text-green">Nuevo</p>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input  ng-model="estado" ng-value="2" type="radio" name="optionsRadios" id="optionsRadios2"
                                   ng-disabled="estadoActual==3 || estadoActual==4"
                                   ng-checked="estadoActual =='En Camino'">
                            <p class="text-yellow">En Camino</p>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input ng-model="estado" ng-value="3" type="radio" name="optionsRadios" id="optionsRadios3"
                                   ng-disabled="estadoActual==4"
                                   ng-checked="estadoActual =='Cancelado'">
                            <p class="text-red">Cancelado</p>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input ng-model="estado" ng-value="4" type="radio" name="optionsRadios" id="optionsRadios4"
                                   ng-disabled="estadoActual==3"
                                   ng-checked="estadoActual =='Cerrado'">
                            <p class="text-light-blue">Cerrado</p>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button ng-show="!mostrarExito" ng-click="cambiarEstado(estado,'{{ pedido.id }}')" type="button" class="btn btn-primary">Guardar</button>
                <label ng-show="mostrarExito"><p class="text-green"> <i class="fa fa-check "></i> Se cambió el estado</p></label>
                <div ng-show="mostrarLoader" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</section>
{% endblock %}
