{% extends 'DrinkBundle::layout.html.twig' %}

{% block page_title %}
    Detalle pedidos
{% endblock %}

{% block page_content %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detallePedido in detallePedidos %}
            <tr>
                <td><a href="{{ path('detallepedido_show', { 'id': detallePedido.id }) }}">{{ detallePedido.id }}</a></td>
                <td>{{ detallePedido.cantidad }}</td>
                <td>{{ detallePedido.subTotal }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('detallepedido_show', { 'id': detallePedido.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('detallepedido_edit', { 'id': detallePedido.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detallepedido_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
