{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

 {%  block javascripts_head %}
     {{ parent() }}
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
 {% endblock  %}

 {% block avanzu_sidebar %}

     <div class="sidebar">
         <!-- user panel (Optional) -->
         <div class="user-panel">

         </div><!-- /.user-panel -->

         <!-- Search Form (Optional) -->
         <form action="#" method="get" class="sidebar-form">
             <div class="input-group">
                 <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
             </div>
         </form><!-- /.sidebar-form -->

         <!-- Sidebar Menu -->
         <ul class="sidebar-menu">
             <li class="header">Menu</li>

             <li class="active"><a href="{{ path('producto_index') }}"><i class="fa fa-bookmark-o" aria-hidden="true"></i><span>Productos</span></a></li>
             <li><a href="{{ path('pedido_index') }}"><i class="fa fa-bell-o" aria-hidden="true"></i><span>Pedidos</span></a></li>
             <li><a href="{{ path('producto_index') }}"><i class="fa fa-barcode" aria-hidden="true"></i><span>Productos</span></a></li>
             <li><a href="{{ path('categoria_index') }}"><i class="fa fa-cubes" aria-hidden="true"></i><span>Categorias</span></a></li>
             <li class="treeview">
                 <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span>Reportes</span> <i class="fa fa-angle-left pull-right"></i></a>
                 <ul class="treeview-menu">
                     <li><a href="#">Link in level 2</a></li>
                     <li><a href="#">Link in level 2</a></li>
                 </ul>
             </li>
         </ul><!-- /.sidebar-menu -->

     </div><!-- /.sidebar -->



 {% endblock %}