{% extends 'DrinkBundle::layout.html.twig' %}
{% block page_title %}
    Categoría
{% endblock %}

{% block page_content %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorium.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ categorium.nombre }}</td>
            </tr>
            <tr>
                <th>Urlimagen</th>
                <td>{{ categorium.urlImagen }}</td>
            </tr>
            <tr>
                <th>Fechaupdate</th>
                <td>{% if categorium.fechaUpdate %}{{ categorium.fechaUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoria_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categoria_edit', { 'id': categorium.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
